.dark-mode {
  background-color: #121212;
  color: white;
}

.light-mode {
  background-color: white;
  color: black;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
}

.dark-mode .navbar-light .navbar-nav .nav-link {
  color: white;
}
